---
import Layout from '../layouts/Layout.astro';
---

<Layout title="El Pequeño y la Luna - Reservar libro">
	
	<article id="booking">

		<section aria-label="booking-cover-section" class="w-full flex justify-center">
			<picture >
				<img src="/portada-el-pequeno-y-la-luna.jpeg" alt="El Pequeño y la Luna - Portada del Libro" 
				class="max-w-md w-full drop-shadow-[0_0_13px_rgba(24,24,27,0.5)] ">
			</picture>
		</section>
		<section class="flex flex-col max-w-md w-full md:max-w-lg h-full" aria-label="booking-form-section">
			<header class="mb-5">
				<h1 class="text-4xl">El <span class="text-accent-2">Pequeño</span> y la <span class="text-accent-1">Luna</span></h1>
				<h2 class="text-2xl">Escrito e ilustrado por Rocío Muñoz</h2>
				<h3 class="text-xl">Editorial Círculo Rojo</h3>
			</header>

			<div class="flex items-center h-full">
				<form action="">
					<legend class="mb-2">Introduce tu correo electrónico y te notificaremos cuando esté disponible</legend>
					<div class="flex w-full justify-center items-end gap-1">
						<label for="email" class="w-full">Email
						<input type="email" id="email" class="bg-slate-50 text-gray-900 
						text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 
						block w-full p-2.5" placeholder="Email" required></label>
		
						<button type="submit" class="text-white bg-gradient-to-br from-cyan-600 
						to-[#283777] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none 
						focus:ring-blue-300 dark:focus:ring-[#ec9555] font-medium rounded-lg 
						text-sm px-5 py-2.5 text-center transition-all duration-300">
							Avísame
						</button>
					</div>
	
				</form>
			</div>
		</section>
	</article>

</Layout>

<style>
	#booking {
		display: grid;
		grid-template-columns: minmax(30%, 400px) 1fr;
		gap: 40px;
	}

	@media screen and (max-width: 800px) {
		#booking {
		display: flex;
		flex-direction: column;
		grid-template-columns: minmax(30%, 400px) 1fr;
		gap: 40px;
		align-items: center;
	}
	}
</style>
