---
import { WaitingListForm } from '@/components/WaitingListForm';
import Layout from '../layouts/Layout.astro';
---

<Layout title="El Pequeño y la Luna - Reservar libro">
	
	<article id="booking">

		<section aria-label="booking-cover-section" class="w-full flex justify-center">
			<picture >
				<img src="/portada-el-pequeno-y-la-luna.jpeg" alt="El Pequeño y la Luna - Portada del Libro" 
				class="max-w-md w-full drop-shadow-[0_0_13px_rgba(24,24,27,0.5)] ">
			</picture>
		</section>
		<section class="flex flex-col max-w-md w-full md:max-w-lg h-full" aria-label="booking-form-section">
			<header class="mb-5">
				<h1 class="text-4xl">El <span class="text-accent-2">Pequeño</span> y la <span class="text-accent-1">Luna</span></h1>
				<h2 class="text-2xl">Escrito e ilustrado por Rocío Muñoz</h2>
				<h3 class="text-xl">Editorial Círculo Rojo</h3>
			</header>

			<WaitingListForm client:load />
			
		</section>
	</article>

</Layout>

<style>
	#booking {
		display: grid;
		grid-template-columns: minmax(30%, 400px) 1fr;
		gap: 40px;
	}

	@media screen and (max-width: 800px) {
		#booking {
		display: flex;
		flex-direction: column;
		grid-template-columns: minmax(30%, 400px) 1fr;
		gap: 40px;
		align-items: center;
	}
	}
</style>
