---
import '@fontsource/rubik-moonrocks';
import '@fontsource/rubik-microbe';
import '@fontsource-variable/quicksand';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Haz ya la reserva de tu ejemplar de El Pequeño y la Luna. Escrito e ilustrado por Rocío Muñoz" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative min-h-screen">
		<main class="relative max-w-screen-lg mx-auto px-12 pt-48 pb-12">
			<slot />

		</main>

		<div class="absolute inset-0 overflow-hidden -z-10">
			<div role="presentation" 
			class="absolute top-0 left-0 right-0 h-1/4 max-h-40 overflow-hidden 
			flex justify-center">
				<div class="semicircle-top bg-cyan-600 rounded-full ">
	
				</div>
			</div>
			<div role="presentation" 
			class="absolute right-0 top-2/3 bottom-0 h-full max-h-[400px] w-36 overflow-hidden
			flex justify-center">
				<div class="semicircle-right bg-[#efe9db] rounded-full">
	
				</div>
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--font-family-base: 'Quicksand Variable', sans-serif;
		--font-family-accent-1: 'Rubik Moonrocks', sans-serif;
		--font-family-accent-2: 'Rubik Microbe', sans-serif;
	}

	html {
		font-family: var(--font-family-base);
		background-color: #d6f0f9;
		color: #13151a;
	}

	.text-accent-1 {
		font-family: var(--font-family-accent-1);
		color: #ec9555
		
	}
	.text-accent-2 {
		font-family: var(--font-family-accent-1);
		color: #283777;
	}

	.semicircle-top {
		position: absolute;
		height: 100vw;
		width: 100vw;
		max-width: 1024px;
		min-width: 300px;
		min-height: 300px;
		bottom: 0;
	}

	.semicircle-right {
		position: absolute;
		height: 100vw;
		width: 100vw;
		max-width: 400px;
		max-height: 400px;
		min-width: 300px;
		min-height: 300px;
		left: 0;
	}
</style>
