---
import '@fontsource/rubik-moonrocks';
import '@fontsource/rubik-microbe';
import '@fontsource-variable/quicksand';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="El libro El Pequeño y la Luna estará pronto disponible. Escrito e ilustrado por Rocío Muñoz" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:title" content="El Pequeño y la Luna - Reservar libro" />
		<meta property="og:description" content="Escrito e ilustrado por Rocío Muñoz, El Pequeño y la Luna es un cuento infantil que trata de explicar a los más pequeños las fases de la luna. Resérvalo ya." />
		<meta property="og:image" content="https://el-pequeno-y-la-luna-rocio-munoz.vercel.app/portada-el-pequeno-y-la-luna.jpeg" />
		<meta property="og:image:alt" content="Portada de El Pequeño y la Luna, por Rocío Muñoz" />

		<meta name="twitter:title" content="El Pequeño y la Luna - Reserva el libro" />
		<meta name="twitter:description" content="Escrito e ilustrado por Rocío Muñoz, El Pequeño y la Luna es un cuento infantil que trata de explicar a los más pequeños las fases de la luna. Resérvalo ya." />
		<meta name="twitter:image:src" content="https://el-pequeno-y-la-luna-rocio-munoz.vercel.app/portada-el-pequeno-y-la-luna.jpeg" />
		<meta name="twitter:image:alt" content="Portada de El Pequeño y la Luna, por Rocío Muñoz" />
		<meta name="twitter:site" content="@X" />

	</head>
	<body class="relative min-h-screen">
		<main class="relative max-w-screen-lg mx-auto px-12 pt-48 pb-12">
			<slot />
		</main>

		<div class="absolute inset-0 overflow-hidden -z-10">
			<div role="presentation" 
			class="absolute top-0 left-0 right-0 h-1/4 max-h-40 overflow-hidden 
			flex justify-center">
				<div class="semicircle-top bg-cyan-600 rounded-full ">
	
				</div>
			</div>
			<div role="presentation" 
			class="absolute right-0 top-2/3 bottom-0 h-full max-h-[400px] w-36 overflow-hidden
			flex justify-center">
				<div class="semicircle-right bg-[#efe9db] rounded-full">
	
				</div>
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--font-family-base: 'Quicksand Variable', sans-serif;
		--font-family-accent-1: 'Rubik Moonrocks', sans-serif;
		--font-family-accent-2: 'Rubik Microbe', sans-serif;
	}

	html {
		font-family: var(--font-family-base);
		background-color: #d6f0f9;
		color: #13151a;
	}

	.text-accent-1 {
		font-family: var(--font-family-accent-1);
		font-weight: 400;
		color: #ec9555
	}
	.text-accent-2 {
		font-family: var(--font-family-accent-1);
		font-weight: 400;
		color: rgb(40, 55, 119);
	}

	.semicircle-top, .semicircle-right {
		position: absolute;
		height: 100vw;
		width: 100vw;
		min-width: 300px;
		min-height: 300px;
	}

	.semicircle-top {
		max-width: 1024px;
		max-height: 1024px;
		bottom: 0;
	}

	.semicircle-right {
		max-width: 400px;
		max-height: 400px;
		left: 0;
	}
</style>
